* {
  box-sizing: border-box;
}

body {
  background-color: #1C1917;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.pad-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
}



button {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;   
  opacity: 0.1;
}

button.on {
  opacity: 1;
}
.all-button{
  display: flex;
  gap:4rem;
}
button.all-off {
  all: unset;
  color: white;
  background-color: #B91C1C;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
button.all-on {
  all: unset;
  color: white;
  background-color: #0e6a18;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}